/*! main.css v1.0.1 | MIT License | github.com/agasthian/style.css */

/* Document
   ========================================================================== */

//Color

// $color-primary: #462B34;
// $color-primary: #008080;

$color-primary: #f4bf44;
$color-secondary:  #ac1f2d;
//$color-secondary:  #fb726f;


$color-text-primary: #111111;
// $color-text-primary: #766068;
$color-text-secondary: #e1e0e0;

$color-background:#F7F8F3;

//Font
// $font-para:'Poppins', sans-serif;
// $font-heading:'Montserrat',sans-serif;

$text-shadow: 0 5px 25px rgba(0,0,0,0.1);
$box-shadow:0 5px 25px rgba(0, 0, 0, 0 / 20%);