
/*--------------------------------------------------------------
# Footer -  Contact section
--------------------------------------------------------------*/

.footer-section{
    background-color:$color-primary;
    min-height: 45rem;
    width: 100%;
    position: relative;
    p{
        text-align: left;
    }

    &_bg-img{
        background-image: url('../../img/pattern-11.png');
        position: absolute;
        left: 0px;
        top: 0px;
        right: 0px;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: repeat-x;
        background-position: center;
        animation: slide 100s linear infinite;
        -webkit-animation: slide 100s linear infinite;
    }

    &_top{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 10rem;
        color: $color-text-primary;
        font-size: 1.6rem;

        @include respond(small){
            padding: 4rem 0;
        }
        
        h4{
            color: #111;
            font-size: 2rem;
            font-weight: 700;
        }

        &_widget1{
            flex: 1 0 33%;
        }
        &_widget2{
            flex: 1 0 33%;
        }
        &_widget3{
            flex: 1 0 33%;
        }
    }

    &_bottom{
        hr{
            border:1px solid  #333;
        }
        &_content{
            display: flex;
            justify-content: space-between;
        }
    }
}
/*--------- End of Footer----------*/


