/*********** Container ***********/
.container{
    max-width: 124rem;
    padding: 0 10rem;
    margin: 0 auto;
    width: 100%;

    @include respond(tab-port) {
        padding:  0 8rem;
    }
}
.container-short{
    max-width: 124rem;
    padding: 0 15rem;
    margin: 0 auto;
    width: 100%;
}

/*********** Center Align Content ***********/
.center-align{
    display: flex;
    justify-content: center;
    align-items: center;
}

/******** Flex Box Template  **********/
.flex-wrapper{
    display:flex;
    flex-wrap:wrap;
}

/********* Micro heading***************/
.micro-heading{
    color: $color-secondary;
    text-transform: uppercase;
    font-weight: 600;
}