/*--------------------------------------------------------------
# Section7 -  section
--------------------------------------------------------------*/
.solutions-section{
    margin-top: 10rem;
    margin-bottom: 15rem;
    position: relative;
    text-align: center;
    
    @include respond(largest) {
        margin-bottom: 12.5rem;
    }

    &_bg-img{
        position: absolute;
        background-image: url('../../img/pattern-6.png');
        background-size: cover;
        background-repeat: no-repeat;
        top:30rem;
        left: 0px;
        bottom: 0px;
        right: 0px;
        width: 100%;
        height: 400px;
        z-index: -2;

        @include respond(small) {
            display: none;
        }
    }
    
    h2{
        margin: 1rem 0;
        font-size: 4rem;

    }
    p{
        padding: 0 2%;
        text-align: center;
        @include respond(small) {
            padding: 0;
        }
        
    }

    &_4boxes{
        margin-top: 5rem;
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: space-evenly;
        @include respond(small) {
            flex-direction: column;
            gap: 10rem;
        }

        .card{
            background-color: #fff;
            height: 150px;
            width: 200px;
            box-shadow:0 0 10px 0 #00000029;
            border-radius: 10px;
            position:absolute;
            top: 15rem;
            left: 3rem;
            @include respond(largest) {
                top:17rem;
                left:6rem;
            }
            @include respond(small) {
                height: 100px;
                width: 180px;
                top:22rem;
            }

            img{
                margin-top: 2rem;
                width: 25%;
        

                @include respond(largest) {
                    margin-top: 2rem;
                }
                @include respond(small) {
                    width: 7rem;
                }
            }
            p{                    
                width: 200px;
                font-size: 2rem;
                font-weight: 700;
                padding: 0;
                color: $color-primary;
                line-height: 2.5rem;
                text-align: center;
            }
        }

        &_box1{
            background-image: url('../../img/6.webp');
            margin-bottom: 10rem;
            height: 200px;
            width: 250px;
            border-radius: 5px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;            
            position: relative;
            @include respond(small) {
                height: 200px;  
            }
            
            
        }
        &_box2{
            background-image: url('../../img/7.jpg');
            background-repeat: no-repeat;
            margin-bottom: 10rem;
            height: 200px;
            width: 250px;
            border-radius: 5px;
            background-size: cover;
            background-position: center;
            position: relative;
            @include respond(small) {
                height: 200px;  
            }


        }
        &_box3{
            background-image: url('../../img/8.jpg');
            background-repeat: no-repeat;
            margin-bottom: 10rem;
            height: 200px;
            width: 250px;
            position: relative;
            border-radius: 5px;
            background-size: cover;
            background-position: center;
            @include respond(small) {
                height: 200px;  
            }

        }
        &_box4{
            background-image: url('../../img/9.jpg');
            background-repeat: no-repeat;
            margin-bottom: 10rem;
            height: 200px;
            width: 250px;
            border-radius: 5px;
            position: relative;
            background-size: cover;
            background-position: center;
            @include respond(small) {
                height: 200px;  
            }

        }
    }
}