/*--------------------------------------------------------------
# Section5 -  section
--------------------------------------------------------------*/
.nonitServices-section{
    

    height: 80vh;
    margin-top: 7rem;
    margin-bottom: 7rem;
    display: flex;
    @include respond(tab-port) {
        flex-direction: column;
        margin-top: 60rem;
    }

    &_left{
        flex: 1 1 40%;
        background: url('../../img/10.jpg')no-repeat;
        background-size: contain;
 
     }
     &_right{
         
         flex: 1 1 60%;
         padding: 4rem 5rem;
     }

     p{
        margin-bottom: 2rem;
    }
}