/*--------------------------------------------------------------
# Section4 - About section
--------------------------------------------------------------*/

.itServices-section{
    background: url('../../img/bg1new.png') no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin-top: 5rem;
    
    &-flxWrapper{
        display: flex; 
        
        @include respond(small) {
            flex-direction: column;
        }

        &_left{
           
           padding: 3rem 5rem;
           flex: 1 1 60%;
           
           @include respond(small) {
            // flex: 1 1 100%;
            padding: 3rem 0;
           }

    
        }
        &_right{
            background: url('../../img/section4img.png') no-repeat;
            background-position: center;
            flex: 1 1 40%;

            @include respond(small) {
                // flex: 1 1 100%;
            }
        
        }
    }


    p{
        margin-bottom: 2rem;
    }
    
}